{# @var post \AppBundle\Entity\Post #}
<li class="post" data-id="{{ post.id }}">
    {% if post.title %}
    <h2>{{ post.title }}</h2>
    {% endif %}

    <img src="{{ post.image|image_url|imagine_filter('post_image') }}" class="u-max-full-width"/>
</li>