{% extends extends_base ? 'base.html.twig' : 'clean.html.twig' %}

{% block body %}
    <div class="form-create">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

