{% extends extends_base ? '@App/base.html.twig' : 'clean.html.twig' %}

{% block body %}
    {% if not extends_base %}
        <div class="modal">
    {% endif %}

    <h1>{{ 'export_title'|trans }}</h1>

    <div class="form-create">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    {% if not extends_base %}
      </div>
    {% endif %}
{% endblock %}
