/* ==========================================================================
   Layout
   ========================================================================== */
.header {
    margin-bottom: 1em;
    padding: 1em 0.3em;
    color: #fff;
    background-color: #33C3F0;
}

.header a {
    color: #fff;
}

/* ==========================================================================
   Other items
   ========================================================================== */
.export_data {
    display: block;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
}

/* ==========================================================================
   Post list
   ========================================================================== */
.posts {
    list-style: none;
    padding: 0;
    margin: 1em 0;
}

.posts li {
    padding: 0.5em 0;
    border-top: 1px solid #9d9d9d;
}

.posts li:first-child {
    padding-top: 0;
    border-top: none;
}

.posts li:last-child {
    border-bottom: 1px solid #9d9d9d;
    padding-bottom: 0;
}

.posts img {
    display: block;
    margin: 0 auto;
}

/* ==========================================================================
   Forms
   ========================================================================== */
.form-create {
    padding: 0 1em;
}
