{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="row">
        {{ render(controller('AppBundle:Post:create')) }}
    </div>

    <div class="row">
        {{ render(controller('AppBundle:Post:list')) }}

        <div class="center">
            <a id="show_more_posts" href="{{ path('post_list') }}" class="button button-primary" style="display:none">
                {{ 'show_more'|trans }}
            </a>
        </div>
    </div>
{% endblock %}